body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*--------------------header-------------------*/
.header-logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo .header-part {
    color: #2E2F42;
}

.footer-logo .footer-part {
    color: #F4F4FD;
}

.header-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}
 .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        color: #434455;
 }

  .address-link:hover,
  .address-link:focus {
     color: #404bbf;
  }

.footer {
    background-color: #2E2F42;
}

 .section-main {
    background-color: #2E2F42;
 }

 .main-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
 }

 .main-btn {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        color: #FFFFFF;
        
 }

 .main-btn {
    background-color: #4D5AE5;
 }

 .main-btn:hover,
 .main-btn:focus{
    color: #404BBF;
 }
 